/* reset */
* {
	margin: 0; padding: 0; box-sizing: border-box;
}

html{
	height: 100%;
}

body {

	font: 16px Helvetica, Arial;
	color: white;
	background: -moz-linear-gradient(45deg, rgba(99,208,255,1) 0%, rgba(99,208,255,1) 1%, rgba(18,65,128,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(99,208,255,1)), color-stop(1%, rgba(99,208,255,1)), color-stop(100%, rgba(18,65,128,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(45deg, rgba(99,208,255,1) 0%, rgba(99,208,255,1) 1%, rgba(18,65,128,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(45deg, rgba(99,208,255,1) 0%, rgba(99,208,255,1) 1%, rgba(18,65,128,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(45deg, rgba(99,208,255,1) 0%, rgba(99,208,255,1) 1%, rgba(18,65,128,1) 100%); /* ie10+ */
	background: linear-gradient(45deg, rgba(99,208,255,1) 0%, rgba(99,208,255,1) 1%, rgba(18,65,128,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#124180', endColorstr='#63D0FF',GradientType=1 ); /* ie6-9 */
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
}



form {
	padding: 3px;
	position: fixed;
	bottom: 0;
	width: 100%;

	input {
		border: 0;
		padding: 10px;
		width: 90%;
		margin-right: 0.5%;
	}

	button { width: 9%; background: rgb(130, 224,255); border: none; padding: 10px; }
}

#messages {
	list-style-type: none;
	margin: 0;
	margin-top: 50px;


	li { 
		border-radius: 8px;
		margin-top: 10px;
		padding: 20px 25px;
		margin-left: 5%;
		width: 70%;
		background: rgba(8, 211, 255, 0.4);
	}
	li:nth-child(odd) {
		border-radius: 8px;
		margin-left: 7%;
		background: rgba(255, 255, 255, 0.4);

	}


}

#welcomeMessage
{
	text-align: center;
	margin-top: 30px;
}

.nickname{
	background-color: white;
	display: block;
  margin : 0 auto;
}

.message
{
	background-color: white;
	color: black;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 0.8; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}



.nickname {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #CCC;
  color: white;
  box-sizing: border-box;
  font-size: 18px;
  height: 50px;
  left: 50%;
  padding: 10px 0px;
  top: 50%;
  width: 20%;
	text-align: center;

  &:focus {
    outline: none;
		border-bottom: 0px;
  }
}


.nickname:focus+.underline {
  transform: scale(1);
}

.underline {
	display: block;
  margin : 0 auto;
  background-color: dodgerblue;
	margin-top: 4px;
  height: 2px;
  left: 50px;
  margin-top: -2px;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  width: 20%;
}


.send {
	border-radius: 8px;
	background-color: rgba(18,65,128,1);
	color: white;
	cursor: pointer;
}

.send:hover {

	background-color: rgba(99,208,255,1);

}

.bottom_form
{
	margin-top: 20px;
	margin-bottom: 20px;


	position: fixed;
    bottom: 0;
}
